/* .colors{
    color: #073B4C;
    color: #284B63;
    color: #E2EAFC;
}

body{
    background-color: #073B4C;
    color: #E2EAFC;
}
/* .navbtn{
    position: absolute;
width: 151px;
height: 47px;
left: 1058px;
top: 24px;

background: #284B63;
box-shadow: 0px 4px 4px rgba(61, 255, 255, 0.6)
}
 */ 
